* {
    -webkit-print-color-adjust: exact;
    /*background: green;*/
}
html,
body {
    margin: 0;
    padding: 0;
}
.bold {
    font-weight: bold;
}
.tcollapse {
    border-collapse: collapse;
}
.left {
    float: left;
}
.right{
    float: right;
}
.text_right {
    text-align: right;
}
.text_center {
    text-align: center;
}
.nborder{
  border: none !important;  
}
.italic {
    font-style: italic;
}
.border1px {
    border: 1px solid #000 !important;
    width: 50%;
}
.border2px {
    border: 2px solid #000 !important;
}
.wrap {
    width: 210mm;
    height: 29.7cm;
    max-height: 270mm;
    max-width: 210mm;
    overflow: hidden;
    position: absolute;
    font-size: 14px;
}
.inner_wrap {
    height: inherit;
}
.header_nak {
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    padding-bottom: 10px;
}
/*fix info_head for IE*/
#info_head{max-width: 793px;}
/*end fix info_head for IE*/

#info_head,
#info_body,
#info_footer_total,
#info_footer_signatures{
    width: 100%;
}
/*fix info_head for IE*/
#info_head{max-width: 793px;}
/*end fix info_head for IE*/
.space_tr {
    height: 10px;
}
#info_head tbody tr td,
#info_footer_total tbody tr td{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.fix_table_span {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    border-bottom: 1px solid black;
    display: inline-table;
    font-weight: 600;
    flex: 1;
    /*     float: left;
     */
    /*     word-break: break-all
     */
}
.gen_text,
.fix_table_span{
    display: table-cell;
}
.span_clear {
    border: none;
    font-weight: normal;
}
.span_clear:before{
content: "\00a0";
}

.fix_table_span:before {
    content: "\00a0";
}
/* #info_head tr td:nth-child(1) {
    white-space: nowrap;
} */

#info_head tr td:nth-child(2),
#info_footer_total tr td:nth-child(2) {
    white-space: normal;
    width: 99%;
    font-weight: bold;
    /*    text-decoration: underline;*/
    border-bottom: 1px solid #000;
}

/*Главная таблица*/

#info_body {
    border-collapse: collapse;
}
#info_body th {
    background-color: #cdcdcd;
}
#info_body tr td:first-child {
    text-align: center;
    width: 20px;
    min-width: 20px;
}
#info_body tr td:nth-child(2) {
    text-align: left;
    max-width: 335px;
}
#info_body tr td:nth-child(3) {
    text-align: center;
    width: 35px;
    max-width: 35px;
}
#info_body tr td:nth-child(4) {
    text-align: right;
    min-width: 80px;
}
#info_body tr td:nth-child(5) {
    text-align: right;
    /*     width: 50px;
     */
    max-width: 50px;
}
#info_body tr td:last-child {
    text-align: right;
    min-width: 80px;
}
#info_body tr td {
    padding: 4px;
    border: 1px solid #000;
}
#info_body th {
    border: 2px solid #000;
}
.price_sector_nds td,
.price_sector_total td {
    border: none !important;
    text-align: right !important;
}
.price_sector_nds td:last-child,
.price_sector_total td:last-child {
    border: 1px solid #000 !important;
}

/*----Поля с подписями ---*/

#info_footer_signatures{
    border-spacing: 10px;
    position: relative;
}
#info_footer_signatures tr td{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 140px;
    position: relative;
}
#info_footer_signatures tr td:first-child {
    border: none;
    text-align: left;
    width: 150px;
}
#info_footer_signatures tr td:last-child {
    text-align: center;
    width: 210px;
}
.row_with_border td {
    border-bottom: 1px solid #000;
}
.podpis,
.position,
.fio,
.place_of_seal{
    position: absolute;
}
.podpis:before {
    position: absolute;
    content: "(Подпись)";
    top: 20px;
    left: 44px;
    font-size: 12px;
}
.position:before {
    position: absolute;
    content: "(Должность)";
    top: 20px;
    left: 37px;
    font-size: 12px;
}
.rko_full_name:before{
    position: absolute;
    content: "(Расшифровка подписи)";
    top: 20px;
    left: 90px;
    font-size: 12px;
}
.full_name:before {
    position: absolute;
    content: "(Ф.И.О.)";
    top: 20px;
    left: 80px;
    font-size: 12px;
}
.place_of_seal:before{
    position: absolute;
    content: "М.П.";
    top: 20px;
    left: 34px;
    font-size: 14px;
    font-weight: bold;
}
/* Расходный кассовый ордер */
#rko_head {
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 10px;
}
#rko_company {
    width: 550px;
}
#rko_code {
    width: 243px;
}
#rko_code td {
    height: 16px;
}
#rko_code td:nth-child(odd) {
    padding-right: 10px;
}
#rko_code td:nth-child(even) {
    border: 2px solid #000;
}
#main_body {
    width: 100%;
    margin: 10px 0;
}
#main_body td {
    border: 1px solid #000;
    width: 120px;
    text-align: center;
}
#name_rko {
    font-size: 16px;
    font-weight: 700;
    display: block;
}
#main_body td[rowspan="3"] {
    width: 586px;
}
#rko_main_table{
    margin-top: 10px;
}
#rko_main_table td{
    border: 1px solid #000;
    text-align: center;
}
#rko_main_table tr:nth-child(3) td{
    border: 2px solid #000;
    height: 25px
}
#rko_info_footer_signatures,
#rko_cashier{
    position: relative;
    border-spacing: 10px;
}
#rko_info_footer_signatures tr td:first-child,
#rko_cashier tr td:first-child{
    border: none;
    text-align: left;
    width: 150px;
}    
 #rko_info_footer_signatures tr td,
#rko_cashier tr td{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 140px;
    position: relative;
}
#rko_info_footer_signatures{
    border-spacing: 10px;
    position: relative;
}
#rko_extradite_base_sum tr td,
#rko_suma_in_cuirsive tr td{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#rko_suma_in_cuirsive{
    position: relative;
}
#rko_main_table,
#rko_extradite_base_sum,
#rko_info_footer_signatures,
#rko_extradite_base_sum,
#rko_suma_in_cuirsive,
#rko_cashier{
    width: 100%;
}        

.rko_po_descr:before{
    position: relative;
    content: "(наименование, номер, дата и место выдачи документа, удостоверяющего личность получателя)";
    font-size: 12px;
    font-weight: 300;
    top: 17px;
    left: 100px;
}