@import "./font.css";
*{ font-family: "MyriadProRegular";
        margin: 0;
        padding: 0;

}
html {
    height: 100%;
}
body{
    background: linear-gradient(to right, #01B0DD, #3E7ADD ) no-repeat;

      height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
/*     min-width: 1024px; */
/*    background-color:rebeccapurple;*/

}
a{
    text-decoration: none;
}
.img_30{
       height: 30px;
    width: 30px;
    vertical-align: middle;
    /* float: left; */
    /* text-align: left; */
    margin-right: 30px;
}
/*-------------nav----------*/
header{
    width: 100%;
    height: 52px;

}
.nav_menu{
    width: 100%;
    height: 52px;
    line-height: 52px;
 
}
/*--------RIGHT SLIDE MENU-------*/


/*----END-RIGHT SLIDE MENU-------*/


.back{
    height: 100%;
    width: 100px;
    float: left;  
}


.back_icon{
height: 20px;
width: 20px;
vertical-align: middle;
margin-bottom: 5px;
margin-left: 1px;
}
.back_text{
display: inline-block;
margin: 0;
padding: 0;
color: #69C6FF;
font-size: 18px;
margin-left: 7px;
}
.menu{
    height: 100%;
    width: 52px;
    float: right;
    text-align: center;
}
.menu_icon{
  height: 28px;
width: 32px;
vertical-align: middle;
/* margin-bottom: 7px;
margin-right: 3px; */
}
/*-------end nav-------------*/
/*--------flag----------*/
.flag_chose{
 height: 30px;
    width: 30px;
    /* float: right; */
    position: relative;
    left: 275px;
    top: -51px;
}
.flag_chose_ot{
    line-height: 30px;
    margin: 0 auto;
    height: 30px;
    width: 30px;
    position: relative;

}
.res{
    height: 100%;
    width: 200px;
    float: right;
}
/*--------end flag------*/
.wrap{
    width: 737px;

    margin: 0 auto;
    margin-top: 201px;

}


/*---------Guests-------*/
#guests ul{
        display: none;
  /*   display: block; */ /*--ПОТОМ УДАЛИ--*/
        background-color: #f90;
        position: absolute;
        top: 100%;
      }
      #guests li:hover ul { display: block; }
      #guests, #guests ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #guests {
        height: 52px;
        /* background-color: #ffffff; */
      /*   padding-left: 25px; */
        min-width: 470px;
      }
      #guests li {
        float: left;
        position: relative;
        height: 100%;
         width: 245px;
          background-color: #ffffff;

      }
      #guests li a {
        display: inline;
        width: 100%;
        height: 100%;
        color: black;
        text-decoration: none;
                  padding-left: 15px;
          line-height: 52px;
          font-size: 18px;
      }

      #guests ul li { float: none; }
      #guests li:hover { background-color: #f90; }
      #guests ul li:hover { background-color: #fff; }
#guests>li:nth-child(1) {
    margin-right: 1px; /* Цвет фона */
   } 
#guests>li:nth-child(2) {
    margin-right: 1px; /* Цвет фона */}
#guests{
    background-color: none;
}

/*----------input button--------*/
.input-group{
    float: right;
    margin-right: 20px;
    line-height: 52px;
    height: 52px;
}
.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
    position: relative;
    top: 1px;
    margin-left: -3px;
    margin-right: -3px;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.input-group-button {
    display: inline-block;
}
.button_minus, .button_plus{
    height: 25px; width: 25px; 
    background-color: none;
    background: none;
    outline: none;
    border: 1px solid black;
    color: black;
    vertical-align: middle;
}
.button_minus{
    border-radius: 5px 0 0 5px;
}
.button_plus{
    border-radius: 0 5px 5px 0;
}
.input-group-field{
    height: 23px;
    width: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 0;padding: 0;
}
.button_text{
    position: relative;
    top: -2px;
    font-size: 21px;
}
/*----------end input button--------*/

/*-----end-Guests-------*/
.img_27px{
    height: 27px;
    float: right;
    margin-right: 15px;
    margin-top: 13px;
}

.found{
    height: 52px;
    width: 245px;
    margin-left: 245px;
    margin-top: 157px
}
.found>button{
    height: 100%;
    width: 100%;
    font-size: 21px;
    border: none;
    outline: none;
    background-color: #f90;
}
/*-------------Календарь-------------*/
@import "./font.css";
/*
	Stylesheet for Tigra Calendar v5.0
	Product is Public Domain (Free for any kind of applicaiton, customization and derivative works are allowed) 
	URL: http://www.softcomplex.com/products/tigra_calendar/

	- all image paths are relative to path of stylesheet
	- the styles below can be moved into the document or in existing stylesheet

*/

/* input box in default state */ 
.tcalInput {
	background: url('../img/calendar_25x27.svg') 100% 50% no-repeat;
	padding-right: 20px;
	cursor: pointer;
    width: 200px;
    height: 30px;
    border: none;
        font-size: 21px;
            outline:none;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
	background-image: url('../img/no_cal.svg');
}
/* container of calendar's pop-up */
#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 242px;
	background-color: white;
	margin-top: 2px;
	padding: 0 2px 2px 2px;
    top: 303px;
    left: 143px;

/* 	border: 1px solid silver; */

/* 	-moz-box-shadow: 3px 3px 4px silver;
	-webkit-box-shadow: 3px 3px 4px silver;
	box-shadow: 3px 3px 4px silver; */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 25px;
	font-size: 10px;
	text-align: center;
	font-family: "MyriadProRegular";
	font-weight: bold;
	white-space: nowrap;
}
#tcalPrevYear { background-image: url('../img/prev_year.gif'); }
#tcalPrevMonth { background-image: url('../img/prev_mon.gif'); }
#tcalNextMonth { background-image: url('../img/next_mon.gif'); }
#tcalNextYear { background-image: url('../img/next_year.gif'); }

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#tcalGrid th {
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 3px 0;
	text-align: center;
	font-family: "MyriadProRegular";
	font-size: 10px;
	background-color: gray;
	color: white;
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	font-family: "MyriadProRegular";
	width: 14%;
	font-size: 11px;
	cursor: pointer;
}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected { background-color: #FFB3BE; }		

/*--------конец Календарь-------------*/