@import "./font.css";
*{ font-family: "MyriadProRegular";
        margin: 0;
        padding: 0;

}
body{
    min-width: 1024px;
/*    background-color:rebeccapurple;*/
background: linear-gradient(to right, #01B0DD, #3E7ADD);
}
a{
    text-decoration: none;
}
.img_30{
       height: 30px;
    width: 30px;
    vertical-align: middle;
    /* float: left; */
    /* text-align: left; */
    margin-right: 30px;
}
/*-------------nav----------*/
header{
    width: 100%;
    height: 52px;
    background-color: blueviolet
}
.nav_menu{
    width: 100%;
    height: 52px;
    line-height: 52px;
}
.back{
    height: 100%;
    width: 100px;
    float: left;  
}


.back_icon{
height: 20px;
width: 20px;
vertical-align: middle;
margin-bottom: 5px;
margin-left: 1px;
}
.back_text{
display: inline-block;
margin: 0;
padding: 0;
color: #69C6FF;
font-size: 18px;
margin-left: 7px;
}
.menu{
    height: 100%;
    width: 52px;
    float: right;
    text-align: center;
}
.menu_icon{
  height: 28px;
width: 32px;
vertical-align: middle;
/* margin-bottom: 7px;
margin-right: 3px; */
}
/*-------end nav-------------*/
/*--------flag----------*/
.flag_chose{
 height: 30px;
    width: 30px;
    /* float: right; */
    position: relative;
    left: 275px;
    top: -51px;
}
.flag_chose_ot{
    line-height: 30px;
    margin: 0 auto;
    height: 30px;
    width: 30px;
    position: relative;

}
.res{
    height: 100%;
    width: 200px;
    float: right;
}
/*--------end flag------*/
.wrap{
    width: 737px;

    margin: 0 auto;
    margin-top: 201px;

}


/*---------Guests-------*/
#guests ul{
        display: none;
  /*   display: block; */ /*--ПОТОМ УДАЛИ--*/
        background-color: #f90;
        position: absolute;
        top: 100%;
      }
      #guests li:hover ul { display: block; }
      #guests, #guests ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #guests {
        height: 52px;
        /* background-color: #ffffff; */
      /*   padding-left: 25px; */
        min-width: 470px;
      }
      #guests li {
        float: left;
        position: relative;
        height: 100%;
         width: 245px;
          background-color: #ffffff;

      }
      #guests li a {
        display: inline;
        width: 100%;
        height: 100%;
        color: black;
        text-decoration: none;
                  padding-left: 15px;
          line-height: 52px;
          font-size: 18px;
      }

      #guests ul li { float: none; }
      #guests li:hover { background-color: #f90; }
      #guests ul li:hover { background-color: #fff; }
#guests>li:nth-child(1) {
    margin-right: 1px; /* Цвет фона */
   } 
#guests>li:nth-child(2) {
    margin-right: 1px; /* Цвет фона */}
#guests{
    background-color: none;
}

/*----------input button--------*/
.input-group{
    float: right;
    margin-right: 20px;
    line-height: 52px;
    height: 52px;
}
.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
    position: relative;
    top: 1px;
    margin-left: -3px;
    margin-right: -3px;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.input-group-button {
    display: inline-block;
}
.button_minus, .button_plus{
    height: 25px; width: 25px; 
    background-color: none;
    background: none;
    outline: none;
    border: 1px solid black;
    color: black;
    vertical-align: middle;
}
.button_minus{
    border-radius: 5px 0 0 5px;
}
.button_plus{
    border-radius: 0 5px 5px 0;
}
.input-group-field{
    height: 23px;
    width: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 0;padding: 0;
}
.button_text{
    position: relative;
    top: -2px;
    font-size: 21px;
}
/*----------end input button--------*/

/*-----end-Guests-------*/
.img_27px{
    height: 27px;
    float: right;
    margin-right: 15px;
    margin-top: 13px;
}

.found{
    height: 52px;
    width: 245px;
    margin-left: 245px;
    margin-top: 157px
}
.found>button{
    height: 100%;
    width: 100%;
    font-size: 21px;
    border: none;
    outline: none;
    background-color: #f90;
}