@charset "UTF-8";

html {
    height: 100%;
    font-size: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color:lightgrey;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    padding: 50px 0 0 0;
    min-width: 320px;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333;
}
.container{
    background-color: #fff;
}
a{
    color: #A3A3A3;
    text-decoration: none !important;
}
a:hover{
    color: #f60 !important; 
    text-decoration: none;
}

.navmenu {
 
    width: 250px;
}
.navmenu-brand{
    margin: 0;
    padding: 15px 15px;
}
.navbar {
  display: block;
  text-align: center;
}
.navbar-toggle{
    border: none;
}
.navbar-default, .navbar-toggle, span.icon-bar{
    color: #333!important;
}
.navbar-brand {
  display: inline-block;
  float: none;
    margin-left: 65px;
    color: #333;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}
.navmenu-brand{
    text-align: center
}
.container {
  max-width: 100%;
}
#search_form{
    position: relative;
    padding-top: 6px;
    width: 205px;
    height: 50px;

   
}
#search{
    height: 38px;
    float: left;
    border: 1px solid #333;
    border-radius: 7px 0 0 7px;
     border-right: none;
    width: 162px;
    outline: none;
    padding-left: 15px;
}
#search_submit{
    position: absolute;
    height: 38px;
    width: 42px;
    left: 162px;
    border-radius: 0 7px 7px 0;
    border: 1px solid #e62e04;
    background: rgb(230,46,4)  url(../img/header-sprite.png) no-repeat -592px 6px;
}
.shoppingcart{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: #f8f8f8 url(../img/header-sprite.png) no-repeat -88px -40px;
}
.shoppingcart>a, .search_img>a{
    display: block;
    height: 100%;
    width: 100%;
}
.search_img{
    position: absolute;
    right: 50px;
    top: 0;
    height: 100%;
    width: 50px;
    display: none;
    -webkit-filter:grayscale(100%) ;
    -moz-filter:grayscale(100%) ;
    filter:grayscale(100%) ;
    background: #f8f8f8 url(../img/search_img.png) no-repeat 10px 10px;
    background-size: 60%;
}
@media screen and (max-width:450px){
    .form_2{
        display: none;
    }
    .search_img{
        display: block;
    }
}
@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
        .form_1{
        display: none;
    }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 250px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
    .form_1{
        display: block;
        margin: 0 auto;
    }
}
