@charset "UTF-8";

*{    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;}
html {
    height: 100%;
    font-size: 100%;
}
body {
    font-family: "Fira Sans", sans-serif;
    width: 100%;
    height: 100%;
    background-color:lightgrey;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    padding: 56px 0 0 0;
    min-width: 320px;
}
h1,h2,h3,h4,h5,h6,p,ul,li..lead{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    color: #333;
}
.container{
    background-color: #fff;
}
a{
    color: #A3A3A3;
    text-decoration: none !important;
}
a:hover{
    color: #f60 !important; 
    text-decoration: none;
}.navbar-toggle {
  float: left;
  margin-left: 15px;
        position: relative;
    padding: 13px 13px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 4px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
}

.dropdown-backdrop {
  position: static;
}
.navbar-toggle,
#user_drop{display: block;}
/*
@media (min-width: 0px) {
  .navbar-toggle,
  #user_drop {
    display: block;
  }
}
*/
@media (min-width: 768px){
    .navbar-nav>li>a{
    margin: 8px 15px;
    padding: 9px 10px;
    }
}


@media (max-width: 768px) {
  body {
    padding:50px 0  0 0;
  }
/*
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
*/
}


/*end offcanvas*/
.navbar-default .navbar-brand{
    margin-top: 4px;
}
.navmenu {
  width: 200px;
}
.navmenu-nav{
  
    margin-bottom: 0;
}
.navbar-nav{
      margin: 0;
    margin-right: 0px;
}
.navbar-right{
    margin-right: 0px;
}
.nav>li{
    height: 54p;
    width: 54px;
}
.nav>li>a {
    height: 100%;
    width: 100%;
    margin: 0;
/*   margin: 8px 10px 5px 10px;
   */  background-color: transparent;
 /* border: 1px solid #ddd;*/
  /*border-radius: 4px ;*/
    padding: 0px 0px ;
    color: #333;
    text-align: center;
    line-height: 52px;
}
.navmenu-nav .dropdown-menu {
  margin: 15px 0px 15px 10px;
  border: 1px solid #ddd;
        padding: 0;
    position: relative;
  border-radius: 4px;
}

/***------Searchmashine****/
.ms-autocomplete, .ms-autocomplete .ms-autocomplete-list {
    display: block;
}
.ms-autocomplete {
    z-index: 1031 !important;
}
.ms-autocomplete {
    font-size: 12px;
    background-color: #fff;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
}
.ms-autocomplete.open{
    display: block !important;
}
.ms-autocomplete-main {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 56px;
    box-shadow: 0 2px 2px rgba(0,0,0,.24);
}
.ms-autocomplete-main .ms-input-search-wrapper {
    position: relative;
    margin-left: 72px;}
.ms-autocomplete input {
    text-align: start !important;
}

.ms-autocomplete-main input {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 56px;
    padding: 0 16px 0 0;
    overflow: hidden;
    color: #3A3E4A;
    -webkit-appearance: none;
    background-clip: padding-box;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: normal;
    outline: 0;
    border: none;}
.close {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/arrow_back.png) no-repeat;
    background-size: 100%;
z-index: 1036}

.ms-autocomplete, .ms-autocomplete .ms-autocomplete-list {
    display: none;
}

.ms-autocomplete .ms-autocomplete-list {
    position: absolute;
    z-index: 5;
    clear: both;
    display: none;
    width: 100%;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
    padding-bottom: 10px;
    top: 55px;}

.search_img, .basket_img{
    width: 30px;
}
/*----end SEARCH------*/

/*-------leftNAV----*/
.user_hello{
    display: block;
    height: 148px;
    box-sizing: border-box;
    background-color: #e62e02;
    overflow: hidden;
    background-image: url(../img/user_hello_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.portrait{
    padding: 16px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin: 0 auto;
}
.portrait img{
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    }

.user_unlogin {
    padding: 15px 16px 16px;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
}
.user_singin{
    padding: 0 6px 0 0;
    border-right: solid 1px #fff;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
}
.user_join{
    padding-left: 2px;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
}
.user_logined{
    padding: 8px 16px;
    line-height: 1;
    display: none;
}
.user_username{
    color: #fff;
    font-size: 15px;
}
.gen_box{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    list-style: none;
    color: #333;
    margin-bottom: 0px;
    padding-left: 0px;
}
.gen_box a{
    color: #333;
    display: block;
}
.gen_box li{
    position: relative;
    height: 48px;
    overflow: hidden;
    font-size: 14px;
    line-height: 48px;
    cursor: pointer;
    padding-left: 40px;
}
.gen_box_2, .gen_box_3, .gen_box_4{
    border-top: 1px solid #EBEBEC;
}
.user_home,
.user_order,
.user_cart,
.user_wishlist{
     position: relative;
}
.user_home:before{
        content: "\f015";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #333;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 12px;
}
.user_order:before{       
    content: "\f0f6";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #333;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 12px;
}
.user_cart::before{
    content: "\f07a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #333;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 12px;
}
.user_wishlist::before{
        content: "\f004";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #333;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 12px;
}
/*-end---leftNAV----*/
#user_drop {
  margin: 8px 15px;
  padding: 9px 10px;
  float: right;
}
.container{
    width: 100%;
}
.nav.navbar-nav {
    height: 54px;
}
.nav.navbar-nav > li{
    height: 54px;
}
#user {
  background-color: #f8f8f8;
  top: 55px;
  right:0;
  left: auto;
    }
/* .carousel-inner,.carousel{ min-height: 400px;}
 */.ms_rc_shadow{
        border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.24)
}
.fast_view{
    /* margin: 0 8px 8px 8px; */
    background: #fff;
    padding: 0;
    clear:both;
}
.util_clearfix{
            clear: both;
    display: table;
    padding: 4px;
    zoom:1;
    letter-spacing: none;
    margin: 0;
    width: 100%;
    text-align: center;
}
.util_clearfix::before{
        content: " ";
    display: table;
}
.util_clearfix::after{

    visibility: hidden;
    font-size: 0;
    height: 0;
}

.custom_category{
    box-sizing: border-box;
    padding: 4px;
    width: 25% ;
     display: table-cell;
    overflow: hidden;
    position: relative;
}
.custom_category a{
    display: block;
}
.custom_category .title{
        font-size: 10px;
    height: 24px;
    line-height: 12px;
    color: #51575C;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}
.custom_category .pic{
/*     width: 2.111rem;
    height: 2.111rem; */
/*     display: block;
    margin: 0 auto; */
}
.custom_category .pic img{
    max-width: 100%;
}
