@import "./font.css";
*{ font-family: "MyriadProRegular";
        margin: 0;
        padding: 0;
        }
body{
    min-width: 1024px;
    background-color:#FFFCD7;
	height: 100%;

	-moz-user-select: none;
-khtml-user-select: none;
user-select: none;   
}
a{
    text-decoration: none;
}
/*------General colors----*/
.color_grey{
    color: #A5A5A5;
}
.color_blue{
    color: #69C6FF;
}

.center{
    text-align: center;
}
.row{
    width: 320px;
    margin: 0 auto;
}

/*-------------nav----------*/
header{
    width: 100%;
    height: 52px;
}
.nav_menu{
    width: 100%;
    height: 52px;
    line-height: 52px;
	    text-align: center;
    font-size: 38px;
}

/*----------Manage room------------*/
.main_icon{
display: inline-block;
height: 100%;
width: 100%;
		transition: all 0.2s ease-out;

}
.check_all{
	height: 80px;
}
.circle_icon{
	border: 1px solid #00446D;
	border-radius: 50%;
}
.select_1, .select_2 ,.select_3 ,.select_4{
	display: inline-block;
	margin-right: 28px;
	text-align: center;
	float: left
}
.check_all_centered{
	    margin: 0 auto;
    width: 434px;
}
.it_circle{
	width: 80px;
	height: 80px;
	display: table-cell;
	position: relative;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	    text-align: center;
}
.text_circle{
	position: relative;
	color: #00446D;
}
input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
input[type=checkbox]:checked ~ .main_icon{
    background-color: #C6C6C6;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

}
input[type=checkbox]:checked ~ .circle_icon{
    background-color: rgba(96, 96, 96, .2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	border-color: rgba(96, 96, 96, .2);
}
.img_light{ display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    position: relative;
    top: 18px;
    left: 0px;
    bottom: 0;
    right: 0; }
.main_text{
display: block;
text-align: center;
bottom: 0px;
color: #ffffff;
font-weight: 300;
	position: relative;

}
#all{
	height: 490px;
}
.media_width_icon{
display: inline-block;
position: relative;
height: 52px;
width: 100px;
background: none;
border: none;
margin: 0;
padding: 0;
	    box-shadow: 3px 4px 10px;
}
.icon_wrap{
	background-color: #DCDDDF;
	height: 535px;
    width: 1000px;
    -moz-transform-origin: 50% 100%;
    -moz-transform: perspective(400px) rotateX(9deg);
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(400px) rotateX(9deg);
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(9deg);
	position: relative;
    margin: 0 auto;
	top: -50px;
	-webkit-box-shadow: 1px 1px 10px;
	box-shadow: 1px 1px 10px;
}

.media_width_icon1{
	position: absolute;
        top: 108px;
    left: 33px;	line-height: 25px;
    background-color: #00446D;
}

.media_width_icon2{
	position: absolute;
    top: 108px;
    left: 195px;	line-height: 25px;
    background-color: #00446D;
}
.media_width_icon3{
	position: absolute;
    top: 56px;
    left: 358px;
    line-height: 100px;
    background-color: #ED5454;
    height: 105px;
    width: 150px;
}
.media_width_icon4{
	position: absolute;
    top: 56px;
    left: 520px;
    line-height: 100px;
    background-color: #ED5454;
    height: 105px;
    width: 100px;
}
.media_width_icon5{
	position: absolute;
    top: 108px;
    left: 683px;	line-height: 50px;
    background-color: #FF8B22;
}
.media_width_icon6{
	position: absolute;
    top: 108px;
    left: 845px;	line-height: 25px;
    background-color: #ED5454;
}
.media_width_icon7{
	position: absolute;
    top: 412px; width: 85px; height: 98px;
    left: 893px;	line-height: 44px;
    background-color: #43932C;
}
.media_width_icon8{
	position: absolute;
    top: 302px; width: 52px; height: 98px;
    left: 893px;	line-height: 45px;
    background-color: #00446D;
}
.media_width_icon9{
	position: absolute;
    top: 192px; width: 86px; height: 98px;
    left: 893px;	line-height: 45px;
    background-color: #F4D553;
}
.media_width_icon10{
	position: absolute;
        top: 221px;
    left: 33px;	line-height: 25px;
    background-color: #00446D;
}
.media_width_icon11{
	position: absolute;
        top: 284px;
    left: 33px;	line-height: 50px;
    background-color: #F4D553;
}
.media_width_icon12{
	position: absolute;
        top: 368px;
    left: 33px;	line-height: 50px;
    background-color: #F4D553;
}
.media_width_icon13{
position: absolute;
        top: 428px;
    left: 33px;	line-height: 25px;
    background-color: #43932C;
}
.media_width_icon14{
	position: absolute;
    top: 221px;
    left: 165px;	line-height: 25px;
    background-color: #00446D;
}
.media_width_icon15{
	position: absolute;
    top: 283px;
    left: 165px;	line-height: 25px;
    background-color: #00446D;
}
.media_width_icon16{
	position: absolute;
    height: 113px;
    top: 366px;
    left: 165px;	line-height: 50px;
    background-color: #00446D;
}
.media_width_icon17{
	position: absolute;
    top: 221px;
    left: 295px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon18{
	position: absolute;
    top: 221px;
    left: 357px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon19{
	position: absolute;
    top: 221px;
    left: 418px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon20{
	position: absolute;
    top: 221px;
    left: 479px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon21{
	position: absolute;
    top: 221px;
    left: 540px;
    line-height: 25px;
    background-color: #565656;
    height: 113px;
    width: 51px;
}
.media_width_icon22{
	position: absolute;
    top: 221px;
    left: 601px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon23{
	position: absolute;
    top: 221px;
    left: 662px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon24{
	position: absolute;
    top: 221px;
    left: 723px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon25{
	position: absolute;
    top: 221px;
    left: 800px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon26{
	position: absolute;
    top: 366px;
    left: 295px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon27{
	position: absolute;
    top: 366px;
    left: 357px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon28{
	position: absolute;
    top: 366px;
    left: 418px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon29{
	position: absolute;
    top: 366px;
    left: 479px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon30{
	position: absolute;
    top: 366px;
    left: 540px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon31{
	position: absolute;
    top: 366px;
    left: 601px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon32{
	position: absolute;
    top: 366px;
    left: 662px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon33{
	position: absolute;
    top: 366px;
    left: 723px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}
.media_width_icon34{
	position: absolute;
    top: 366px;
    left: 800px;
    line-height: 25px;
    background-color: #00446D;
    height: 113px;
    width: 51px;
}

.select_all{
	margin: 0 auto;
	text-align: center;
}