@media only screen and (max-width: 600px){
    .container{
        width: 100%;
    }
}
nav{
    position: fixed;
    z-index:2;
    li{
        position: relative;
        &.active{
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background-color: #fff;
            }
        }
    }
}
main{
    section{
        height: 100vh;

    }
    #section1{
        background-color: lightgray;
        padding: 100px 0 100px 0;
        @media only screen and (max-width: 600px){

            height: max-content;
            padding: 0px 0 0 0;
        }
        h3{
            @media only screen and (max-width: 600px){
                font-size: 2rem;
            }
        }
        h5{
            @media only screen and (max-width: 600px){
                font-size: 1.3rem;
            }
        }
        //background: url(../img/section1.jpg);
        background-size: cover;
        form{

            z-index:1;

            .form_checkbox {
                span{
                    height: auto;
                }
            }
            .card{
                .card-action{
                    overflow: hidden;
                }
            }
        }
    }
    #section2{
        background-color: blue;
    }
    #section2{
        background-color: blueviolet;
    }
    padding-top: 35px;
}
body{
    /*    height: 2000px;*/
}