@media only screen and (max-width: 600px){
    .container{
        width: 100%;
    }
}
body{
    font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,h6, .card-title{
    font-family: 'Montserrat', sans-serif;

}
header{
    height: 0;
   
}

#nav-desctop{
    margin-left: 258px; 
   
}
nav{
    box-shadow: none;
    /*    position: fixed;
        z-index:2;*/
    li{
        position: relative;
        &.active{
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background-color: #fff;
            }
        }
    }
}
main{
    .btn.btn_cdlc_wide{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 56px;	
        width: 260px;	
        border-radius: 2px;	
         background: linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%);
         background:-webkit-linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
        background: -moz-linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
         background:-ms-linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
        background: -o-linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
        background: linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
    }
    .btn.btn_cdlc_standart{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 56px;	width: 167px;	
        border-radius: 2px;	
        background: linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%);
         background:-webkit-linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
        background: -moz-linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
         background:-ms-linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
        background: -o-linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
        background: linear-gradient(150.38deg, #8239CE 0%, #BE83FF 100%) ;
    }
    section{
        height: 100vh;
        
    }
    #section1{
        
        .valign-wrapper{
            height: 100%;
        }
        @media only screen and (max-width: 993px){
            .valign-wrapper{
                display: block;
                height: auto;
            }
        }
       // background-color: lightgray;
        padding: 100px 0 100px 0;
        color: #fff;
        @media only screen and (max-width: 600px){

            height: max-content;
            padding: 30px 0 0 0;
        }
        h3{
            @media only screen and (max-width: 600px){
                font-size: 2rem;
            }
        }
        h5{
            @media only screen and (max-width: 600px){
                font-size: 1.3rem;
            }
        }
        background: url(../img/bg-1.jpg);
        background-size: cover;
        form{

            z-index:1;

            .form_checkbox {
                span{
                    height: auto;
                }
            }
            .card{
                .card-title{
                    font-weight: 600;
                    //padding: 64px;
                    color: #000;
                }
                p{color: #9B9B9B}
                .card-action{
                    overflow: hidden;
                }
                .card-content{
                    padding: 3rem;
                    .privat_policy_a{
                        color:#4A90E2;
                        display: block;
                        
                    }
                }
            }
        }
    }
    #section2{
        background-color: blue;
    }
    #section2{
        background-color: blueviolet;
    }

}
body{
    /*    height: 2000px;*/
}