nav{
    position: fixed;
    li{
        position: relative;
        &.active{
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background-color: #fff;
            }
        }
    }
}
main{
    #section1{
        padding: 100px 0 100px 0;
        h3{
            color:#fff;
        }
        background: url(../img/section1.jpg);
        background-size: cover;
/*        form{
            background-color: #fff;
        }*/
    }
    padding-top: 35px;
}
body{
    height: 2000px;
}