//buttons
$btn-display: inline-block !default;
$btn-border-radius: 3px !default;

$btn-header-height: 32px !default;
$btn-line-height: 32px !default;
$btn-header-width: 32px !default;
$btn-header-padding: 8px !default;