@charset "UTF-8";
@import "./font.css";
@viewport {
    width: device-width;
    zoom: 1;
   }
@-ms-viewport{
        width: device-width;
    zoom: 1;
}
@font-face {
    font-family: FontAwesome ; /* Имя шрифта */
    src: url(./fonts/fa/fontawesome-webfont.woff); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: FontAwesome ; /* Имя шрифта */
    src: url(./fonts/fa/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
   }
* {
    font-family: "MyriadProRegular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none; 
    user-select: none; 
}
html {
    height: 100%;
    font-size: 100%;
}
body {
    
    font-family: 'MyriadProRegular';
    width: 100%;
    height: 100%;
    background-color: #fff;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 , p, ul, li{
    font-family: 'MyriadProRegular';
    font-weight: 300 !important;
    color: #333;
}
.hidden_checkbox{
    position: absolute;
    left: -9999px;
    right: -9999px;
}
input,button,a,label{
    outline: none;
}
input:active:focus,button:active:focus,a:active:focus,:active:focuslabel:active:focus{
    outline: none;
}

button::-moz-focus-inner {
  border: 0;
}
button:active{
    color: #f60;
    opacity: 1;
}
a{
    color: #333;
    text-decoration: none !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}
a:hover{
   color: #f80 !important; 
   text-decoration: none;
}
.wrap{
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
/*nav*/
.nav_menu{
    width: 100%;
    height: 52px;
    line-height: 52px;
}
.back{
    display: block;
    height: 100%;
    width: 52px;
    float: left;
    z-index: 2;
}
.title_nav{
    display: block;
    z-index: 1;
    font-size: 20px;
    text-align: center;
    width: 100%;
    width: calc(100% - 52px);
    height: 52px;
}
.back_icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    vertical-align: middle;
}
/*end_nav*/
.user_login, .new_user_add{
    font-size: 40px;
    font-family: inherit;
    text-align: center;
/*    padding-top: 110px;*/
}
input[name="login"],
input[name="new_user_login"], 
input[name="password"], 
input[name="new_user_email"] {
    width: 300px;
    height: 52px;
    font-size: 30px;
    border: none;
    color: #333;
    margin-bottom: 14px;
    border-bottom: 1px solid #b7b7b7;
    text-align: left;
}
input[name="login"]:focus, 
input[name="new_user_login"]:focus,
input[name="new_user_email"]:focus,
input[name="password"]:focus{

    border-bottom: 1px solid #f80;
      transition: .5s ease-out;
}
.user_login > form > input[type="submit"]{
    height: 42px;
/*   padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px; */
  min-width: 88px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
/*   text-transform: uppercase;
   */  text-decoration:none;
  border: none;
  outline: none;
/*     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/        
  background-color: rgba(0,0,0,0);
}
.user_login > form > input[type="submit"]:active{
    color: #f80;
}
.forgot{
    width: 300px;
    text-align: right;
    margin: 0 auto;
/*     margin-top: 15px;
    margin-bottom: 15px; */
}
input[name="login"]::-webkit-input-placeholder {color:#bdbdbd;}
input[name="login"]::-moz-placeholder{color:#bdbdbd;}/* Firefox 19+ */
input[name="login"]:-moz-placeholder{color:#bdbdbd;}/* Firefox 18- */
input[name="login"]:-ms-input-placeholder{color:#bdbdbd;}
input[name="password"]::-webkit-input-placeholder {color:#bdbdbd;}
input[name="password"]::-moz-placeholder{color:#bdbdbd;}/* Firefox 19+ */
input[name="password"]:-moz-placeholder{color:#bdbdbd;}/* Firefox 18- */
input[name="password"]:-ms-input-placeholder{color:#bdbdbd;}
button[name="forgot"]{
    height: 42px;
/*     padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px; */
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
}

.logo{
    margin-top: 35px;
    height: 127px;
    text-align: center;
/*     margin-bottom: 35px;
     */}
.logo>img{
    height: 70px;
}
.logo_span{
    display: block;
    color:#f80;
    font-size: 41px;
    vertical-align: 
        middle;height: 52px;
}
.footer{
    width: 100%;
    height: 40px;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
}
button[name="registration"],
button[name="exit"]{
    height: 100%;
    height: 42px;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
}
/*DELETE IT*/
.footer>a{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    background: #fff ;
    line-height: 40px;
    }
/*menu*/
.menu_obj{
    width: 270px;

/*     overflow: auto;*/
/*     margin-top: 10px;
     */}
.menu_obj li{
    text-decoration: none;
    list-style-type: none;
    position: relative;
    display: block;
}

.a_cover{
    display: block;
    width: 280px;
    height: 52px;
    line-height: 52px;
    font-size: 20px; 
    z-index: 2;
}
.menu_img span{
    color: #b7b7b7;
    opacity: 0.8;
}
.menu_img{
    display: inline-block;
    height: 52px;
    width: 52px;
    float: left;
    text-align: center;
    opacity: 0.6;
}
.menu_text{
    display: inline-block;
}
/*end_menu*/

/*light control*/
/* .control_button_panel{
    height: 102px;
    margin-top: 36px;
}
.cbp_left,
.cbp_right
{
    display: inline-block;
    float: left;
    width: 50%;
    height: 102px;
    text-align: center;
}
.turn_on_off_marked{
    margin-top: 43px;
    width: 204px;
    height: 32px;
    margin-left: 17px;
}
.turn_on_off_marked > button{
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    background-color: #fff;
}
.control_button_panel{
    font-size: 15px;
}
.control_button_panel button{
    width: 100px;
    height: 50%;
    border: none;
    background-color: #fff;
    margin: 0 auto;
}
.top_btn{
    background: url(../img/round-up.png);
    background-repeat: no-repeat;
    background-position: top;
}
.bottom_btn{
    background: url(../img/round-down.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.table_ogc{
    width: 100%;
    width: calc(100% - 20px);
    margin: 0 auto;
}
#ogc{
    width: 100%;
    background-color: #b7b7b7;
border-collapse: collapse;
border-collapse: separate;
border-spacing: 0px 0px;}
#ogc td{
    padding-left: 8px;
} 
#ogc th{
    text-align: left;
    padding-left: 8px;
border: 1px solid #000;}
#ogc tr{
    height: 32px;
    
}
#ogc tr:nth-child(even){
    background-color: #b7b7b7;
}
 #ogc tr:nth-child(odd){ 
    background-color: #fff;
} 

.lc_log{
    display: block;
    width: 100%;
    height: 40px;
}
.label_obj_gr>input[type="radio"]:checked ~ .lc_log{
    color: #f60;
} */
#light_control_tab thead th{
    text-align: left;
}
input[aria-controls="light_control_tab"]{
    border: none;
    font-size: 20px;
    border-bottom: 1px solid #bdbdbd;
}
.table_wrap_light{
    margin-left: 10px;
    margin-right: 10px;
}
#light_control_tab tr:nth-child(even){
    background-color: rgba(163,163,163,0.2);
}
#light_control_tab tr:nth-child(odd){ 
    background-color: #fff;
}
#light_control_tab_filter{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    float: none;
    padding-left: 20px;
    margin: 20px 0;
}
.light_control_tab{
    position: relative;
}
.table_href{
    position: absolute;
    width: 80%;
    height: 52px;
    
}
.tbody_lc > tr >td{
    padding: 8px 19px !important;
} 
                /* chechbox STATUS*/
.status_checkbox {
     border-radius: 100%;
	width: 40px;
	height: 40px;
   
	position: relative;
    outline: none;
}
.status_checkbox label {
    border-radius: 100px;
	display: block;
	width: 40px;
	height: 40px;
	
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
    outline: none;
	background: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	 }
.status_checkbox input[type=checkbox]:checked + label {
	background-color: #1bff6e;
    /*background: #26ca28;*/
}
/*---end_light control---*/
/*EVENTS*/
.events_tab{
    width: 100%;
}
.events_tab th{
    font-size: 20px;
    padding: 10px;
        font-weight: 300;

}
.events_tab td{
    padding-left: 21px;
}
/*tab EVENTS*/
/*--OBJECTS--*/
#objects_t thead th,
#user_and_access_table thead th{
    text-align: left;
}
input[aria-controls="objects_t"],
input[aria-controls="user_and_access_table"]
{
    border: none;
    font-size: 15px;
    border-bottom: 1px solid #bdbdbd;
}
.table_wrap{
    margin-left: 10px;
    margin-right: 10px;
}
#objects_t tr:nth-child(even), #user_and_access_table tr:nth-child(even){
    background-color: #b7b7b7;
}
#objects_t tr:nth-child(odd), #user_and_access_table tr:nth-child(odd){ 
    background-color: #fff;
} 
.dataTables_wrapper .dataTables_filter input {
    width: 200px;
    
}
.create_object{
    display: block;
    height: 52px;
    width: 100%;
    text-align: center;
    top: 50px;
    font-size: 30px;
    line-height: 52px;
    margin-top: 64px;
    margin-bottom: 64px;
}
#objects_t_filter{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    float: none;
}
/*--END--OBJECTS--*/

/*---light_control_group---*/
.ui-slider-handle {
width: 30px !important;
height: 30px !important;
border-radius: 15px 15px 15px 15px !important;
-webkit-border-radius: 15px 15px 15px 15px !important;
background: -webkit-linear-gradient(top, #f80, #f80) !important;
background: -o-linear-gradient(top, #f80, #f80) !important;
background: -ms-linear-gradient(top, #f80, #f80) !important;
background: linear-gradient(top, #ff770f, #ff5718) !important;
border: none !important;
top: 50% !important;
margin-top: -15px !important;
margin-left: -15px !important;
cursor: pointer !important;
outline: none !important;
}
.ui-slider-horizontal{
    height: 1px;
    border:none;
    border-bottom: 1px solid #333;
}
.lcg{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #333;
}
.lcg td:nth-child(1){
    padding: 10px 20px;
}
#drimmiring{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 45px;
}
#drimmiring_slider{
    text-align: center;
}
#drimmiring_slider::before{
    content: "Диммирование ";
}
#drimmiring_slider::after{
    content: " %";
}
.scenarios{
    margin-top: 30px;
    margin-bottom: 10px;
}
.schedule{
    margin-bottom: 30px;
}
.scenarios, .schedule{
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.scenarios a,.schedule a{
    font-size: 20px;
}
.scenarios i, .schedule i{
    line-height: 40px;
    float: right;
    font-size: 40px;
}
.scenarios a, .schedule a{
    display: block;
    width: 100%;
    height: 100%;
}

.gc_btn_on_off>label,
.gc_btn_block>label{
    display: block;
    height: 51px;
    width: 80px;
    border: 1px solid #333;
    border-radius: 7px;
    background: #fff;
    font-size: 15px;
    margin: 0 auto;
    line-height: 51px;
}
.gc_btn_on_off input[name="gc_btn_on_off"]:checked + label,
.gc_btn_block input[name="gc_btn_block"]:checked + label
{
    background: #b7b7b7;
    border-color: #b7b7b7;
}

.gc_btn_on_off,.gc_btn_block{
    width: 50%; 
    float: left;
    text-align: center;
}
 /*---END---light_control_group---*/
/*--User and acces--*/
.add_delete_user{
    display: block;
    text-align: center;
    width: 100%;
    height: 88px;
    line-height: 88px;
    margin-bottom: 20px
}

.add_user, .delete_user{
    width: 50%;
    display: inline-block;
    float: left;
}

.add_user button, .delete_user button{
    height: 51px;
    width: 120px;
    border: 1px solid #333; 
    border-radius: 7px;
    background-color: #fff;
    margin: 0 auto;
    font-size: 15px;
}
.add_delete_user button:active{
    background: #b7b7b7;
    border-color: #b7b7b7;
    color: #333;
}

/*---add_new user---*/
.devider_screen{
        display: block;
    text-align: center;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px
}
.devider_screen_section_1,
.devider_screen_section_2{
    width: 50%;
    display: inline-block;
    float: left;
    height: inherit;
    line-height: 100px;
}
.new_user_add{
    padding-top: 100px;
}
.new_user_add input[type="submit"],
.new_user_add input[type="reset"]{
    height: 51px;
    width: 95px;
    border: 0;
    font-size: 20px;
    background: #fff;

    
}

/*---END---add_new user---*/
/*--END--User and acces--*/


/*---MEDIA RULES---*/
/* @media screen and (min-width: 375px){
    .wrap{
        width:375px;
    }
}
@media screen and (min-width: 414px){
    .wrap{
        width:414px;
    }
} */