*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{    position: relative;
    text-decoration: none;
    color: white;
    
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    width: 1280px;
	line-height: 1;
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}
.table{
            height: 540px;

    overflow-y: auto;
}
ul a li{
    text-decoration: none;
    display: table-cell;
}
header{
    width: 100%;
    height: 60px;
    background-color: #250D27;
}
.time_t{
    display: inline-block;
    height: 100%;
    width: 154px;
    line-height: 60px;
    text-align: center;
    float: left;
}
.time_t>img{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    left: -8px;
}
.time_t>p{
    position: relative;
    left: -2px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 21px;
}
.menu{
    float: left;
    display: inline-block;
    height: 100%;
}
.menu ul{
    line-height: 60px;
    color: #ffffff;
    
}
.menu ul a li{
    text-align: center;
    z-index: 1;
}
.menu ul a:nth-child(1) li{
    width: 70px;
}
.menu ul a:nth-child(2) li{
    width: 134px;}
.menu ul a:nth-child(3) li{
    width: 195px;}
.menu ul a:nth-child(4) li{
    width: 162px;}
.diamond{
    margin-right: 10px;
    float: right;
    height: 100%;
    width: 100px;
    line-height: 60px;
    font-size: 21px;
}
.diamond img{
    vertical-align: middle;
}
.diamond>span{
    color: #ffffff;
    float: right;
}
.table_div{
    width: 665px;
    display: inline-block;
}
tr>th:nth-child(1),tr>td:nth-child(1){
    width: 103px;
    padding-left: 21px;
}
tr>th:nth-child(2),tr>td:nth-child(2){
    width: 139px; font-size:14px;
}tr>th:nth-child(3),tr>td:nth-child(3){
    width: 148px; font-size:14px;
}tr>th:nth-child(4),tr>td:nth-child(4){
    width: 200px; font-size:14px;
}tr>td:nth-child(5){
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}
th, td{
    height: 60px;
    vertical-align: middle;
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
tr>th{
    text-align: left;
    font-size: 14px;
    color: rgba(0,0,0,.54)
}

tbody>tr:hover,tbody>tr:active,tbody>tr:focus{
   background-color: #E4F8F8;
    border-left: 5px solid #3ECCCC;
}
.before::after {
    content: '';
    left: 5px;
    right: 5px;
    top: 35px;
    height: 5px;
    position: absolute;

}
.before:hover::after { background-color: white; }

.description{
    float: right;
    width: 610px;
    display: inline-block;
    height: 543px;
}
.popup_tab{
    position: absolute;
    height: 546px;
    width: 610px;
    z-index: 44;
    display: none;
}
.popup_tab>a>span{
    color: black;
    display: inline-block;
    background-color: white;
}
#tab2, #tab3 {position: fixed; background-color: #979797; }

.popup_tab #tab2:target ~ a:nth-of-type(1),
.popup_tab #tab3:target ~ a:nth-of-type(1),
{ padding: 5px;}

.content_p{
    height: 260px;
    background-color: white;
    padding: 13px;
}
.popup_tab > a { line-height: 60px; background: #fff; text-decoration: none; text-align: center;display: table-cell; width: 204px;}

#tab2,
#tab3,
.popup_tab > div,
.popup_tab #tab2:target ~ div:nth-of-type(1),
.popup_tab #tab3:target ~ div:nth-of-type(1) {display: none; }

.popup_tab > div:nth-of-type(1),
.popup_tab #tab2:target ~ div:nth-of-type(2),
.popup_tab #tab3:target ~ div:nth-of-type(3) { display: block; }
/*

.popup_tab #tab1:target ~ a>span:nth-of-type(1),
.popup_tab #tab2:target ~ a>span:nth-of-type(2),
.popup_tab #tab3:target ~ a>span:nth-of-type(3) { border-bottom: 4px solid black; }*/
a::after {
    content: '';
    left: 5px;
    right: 5px;
    top: 55px;
    height: 5px;
    position: absolute;

}
a:hover::after { background-color: black; }
.popup_tab > a{
    padding: 0;
}

.zakaz{
    color: #000000;
    font-weight: bold;
    padding-bottom: 26px;
}
.driver{
    width: 232px;
    display: table-cell;
    float: left;
}
.descr_driv{
    color: #757575;
    padding-bottom: 12px;
}
.drv_img{
    display: inline-block;
    float: left;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.name_pas_but{
    float: right;
    width: 139px;
}
.name_pas_but>.call>button{
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 31px;
    width: 139px;
    color: black;
    font-size: 12px;
        border-radius: 7px;
}
.consultant{
    display: table-cell;
    float: left;
    width: 240px;
    padding-left: 50px;
}
.consultant>.name_pas_but>.call>button{
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 31px;
    width: 139px;
    color: #ffffff;
    font-size: 12px;
    background-color: #68C700;
}
.mini_descr_car{
    float: left;
        padding-top: 20px;
    width: 548px;
}
.car_block_1,.car_block_2{
    color: #626262;
    display: table-cell;
    height: 50px;
}
.car_block_1>span,.car_block_2>span{
    color: #000000;
}
.car_block_2{
    padding-left: 90px;
    line-height: 25px;
}
.map{
    position: relative;
    z-index: 1;
    display: block!important;
}